<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Food truck delivery service for incredible burgers, and even better experiences.">
    <meta name="author" content="M&G Design, LLC.">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Raleway:wght@400;600&family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Bitez | Gallery</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="./static/gallery.css" rel="stylesheet">

    <!-- AOS styles -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">   
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png">

</head>

<body>

<div id="galleryApp">
<!-- ******************** HEADER / NAV ******************** -->
<header id="banner">

    <img id="banner-image" src="./static/images/burger-lineup.jpg" alt="line up of four types of burgers">

    <nav class="navbar fixed-top navbar-expand-lg fixed-top" id="nav">
        <div>
            <!-- Mobile Hamburger Icon -->
            <div @click="sideMenu = true" class="hamburger-menu d-block d-lg-none">
                <img src="./static/images/hamburger-menu.png" alt="hamburger cartoon icon">
            </div>
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <div class="nav-item">
                        <a  class="nav-link" href="index.html#menu">Menu</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MOBILE NAVIGATION BAR -->
    <transition name="slide">
        <div class="mobile-nav" v-if="sideMenu==true" v-cloak>
            <img id="exit-button" @click="sideMenu=false" src="https://img.icons8.com/color/48/000000/close-window.png" alt="Exit navigation accordion button">
            <div class="navigation-links">
                <a href="index.html" @click="sideMenu=false">Home</a>
                <a href="#" @click="sideMenu=false">Gallery</a>  
                <a href="index.html#menu" @click="sideMenu=false">Menu</a>
                <div class="navigation-social-media">
                    <a href="https://www.instagram.com/bitez.burger/" target="_blank" aria="links to Bitez Burger's Instagram"><img src="static/images/instagram-icon.png"></a>
                    <a href="https://www.twitter.com/Bitezburger2020/" target="_blank" aria="links to Bitez Burger's Twitter"><img src="static/images/twitter-icon.png"></a>
                    <a href="https://www.facebook.com/Bitez-Burger-100756265056774/" target="_blank" aria="links to Bitez Burger's Facebook"><img src="static/images/facebook-icon.png"></a>
                </div>
            </div>
        </div>
    </transition>
</header>

<!-- *********************** CONTENT *********************** -->

<section class="col-sm-12 col-md-11 m-auto">

    <transition name="fade" v-if="showGalleryModal" v-cloak>
        <div id="gallery-wrapper">

            <div @click="hideGalleryModal" id="gallery-backdrop"></div>
            <button type="button" class="gallery-close" @click="hideGalleryModal"></button>

            <vue-litebox id="gallery-modal" :items="images" :start-at="galleryStartIndex">

                <button type="button" slot="close" style="display:none;"></button>

                <button id="prevButton" type="button" slot="prev" aria-label="Previous item" slot-scope="{ prevProps, prevEvents }" v-bind="prevProps" v-on="prevEvents"><img src="./static/images/hero-arrow-cr.png"></button>

                <button id="nextButton" type="button" slot="next" aria-label="Next item" slot-scope="{ nextProps, nextEvents }" v-bind="nextProps" v-on="nextEvents"><img src="./static/images/hero-arrow-cr.png"></button>

                <figcaption slot="caption" slot-scope="{ captionProps, currentItem, currentItemIndex, totalItems }" 
                    v-bind="captionProps">
                    <div class="vlb-caption-title" v-if="currentItem.title">{{currentItem.title}}</div>
                    <div class="vlb-caption-count">{{currentItemIndex + 1}}/{{totalItems}}</div>
                </figcaption>
                
            </vue-litebox>
        </div>
    </transition>

    <main id="gallery-grid">
        <div v-for="(item, index) in images" :key="index" class="gallery-item" @click="galleryStartIndex=index; showGalleryModal=true">
            <img :src="item.src" :alt="item.title" loading="lazy">
        </div>
    </main>

</section>

<!-- *********************** FOOTER *********************** -->

<footer id="footer">
    <div class="footer-icon" data-aos="fade-left" data-aos-offset="200">
        <img src="./static/images/BitezTruck.png">
    </div>
    <div class="container">
        <div class="row footer-info">
            <div class="col-12 col-md-6">
                <h3>CONTACT US</h3>
                <div class="footer-phone">
                    <div>
                        <img src="./static/images/email-icon.png" alt="an envelope icon" width="20">
                    </div>
                    <a class="text-reset" href="mailto:bitezburger@yahoo.com">bitezburger@yahoo.com</a>
                </div>
            </div>
            <div class="col-12 col-md-6 footer-social">
                <h3>FOLLOW US</h3>
                <a href="https://www.instagram.com/bitez.burger/" target="_blank" aria="links to Bitez Burger's Instagram"><img src="static/images/instagram-icon.png"></a>
                <a href="https://www.twitter.com/Bitezburger2020/" target="_blank" aria="links to Bitez Burger's Twitter"><img src="static/images/twitter-icon.png"></a>
                <a href="https://www.facebook.com/Bitez-Burger-100756265056774/" target="_blank" aria="links to Bitez Burger's Facebook"><img src="static/images/facebook-icon.png"></a>
            </div>
        </div>
    </div>
    <p class="copyright-info">Copyright &copy;2020 Bitez. All rights reserved.</p>
</footer>


</div>

<!-- AOS insert -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- Vue Insert -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Lightbox Component -->
<script src="https://unpkg.com/vue-litebox"></script>

<script>
    var app = new Vue({
    el: '#galleryApp',
    components: { 
        VueLightbox: VueLitebox,
    },
    data: {
        sideMenu: false,
        galleryStartIndex: 0,
        showGalleryModal: false,
        images: [
            {src : './static/images/burger-with-logo.jpg', title : "Mr. Bitez showing you our classic burger.", alt : 'Burger with Logo'}, 
            {src : './static/gallery imgs/119026309_649536715672806_624433735375111818_n.jpg', title : "You had me at bacon!", alt : 'Bitez burger with bacon and cheese.'},
            {src : './static/gallery imgs/119083420_948616828948912_3401753671511113976_n.jpg', title : "Try our flight of burgers!", alt : 'Four burgers lined up with french fries on the side.'},
            {src : './static/gallery imgs/119087480_621574558724572_2955523686414429057_n.jpg', alt : 'Close of up burger with ingredient in the background.'},
            {src : './static/gallery imgs/119091161_716773072208147_5348265976754187772_n.jpg', title : "Try our fluffy, cinnamon-coated Cinnabitez to end your meal.", alt : 'Close up of a cinnamon coated bun.'},
            {src : './static/gallery imgs/119094263_4476043585770057_3346631067249811163_n.jpg', title : "Mushroom Swiss. Mmmm.", alt : 'Close up of burger with mushrooms and swiss cheese.'},
            {src : './static/gallery imgs/119099493_340504563975761_2479934795741991016_n.jpg' ,title : "Up close and personal.", alt : 'Close up of burger with ingredients in the background.'},
            {src : './static/gallery imgs/119120894_323610515640318_626623990553313876_n.jpg', alt : 'Picture of burger with bacon and cheese.'},
            {src : './static/gallery imgs/119145555_668312290743491_7978896490497124756_n.jpg', alt : 'Picture of burger with lettuce and tomatoes.'},
            {src : './static/gallery imgs/119147499_244723046837541_5417983480143514608_n.jpg', alt : 'Four burgers laid out horizontally.'},
            {src : './static/gallery imgs/119151083_1200306207006389_3137113520784527839_n.jpg', alt : 'Four burgers laid out horizontally.'},
            {src : './static/gallery imgs/119197745_710553019805434_1517400064757060037_n.jpg', title : "Patty, bacon, and cheese between soft hawaiin buns.", alt : 'Close up picture of burger with bacon and cheese.'},
            {src : './static/gallery imgs/119198908_342969087043786_2828581134393682906_n.jpg', title : "Want some burgers with your fries?", alt : 'Four bugers surrounding french fries.'},
            {src : './static/gallery imgs/119207369_337698684254669_3033016878767305777_n.jpg', alt : 'Burger with bacon and cheese and french fries off to the side.'},
            {src : './static/gallery imgs/119450801_808716243281423_6933465979803167294_n.jpg', alt : 'Burger with french fries off to the side and ingredients in the background.'},
            {src : './static/gallery imgs/119480620_366116137884281_5757548289912986230_n.jpg', title : "Tried and true. A cheese burger and fries will get the job done.", alt : 'Cheese burger and french fries, with tomatoes in the background.'},
        ]
    },
    methods: {
        hideGalleryModal() {
            this.showGalleryModal = false;
        }
    },
    watch: {
        showGalleryModal: function() {
            if(this.showGalleryModal) {
                document.documentElement.style.overflow = 'hidden';
                return
            }
            
            document.documentElement.style.overflow = 'auto';
        }
    },
    })
</script>

<!-- Vanilla -->
<script>
    var myNav = document.getElementById('nav');
    var heightOfNav = 75;
    // Get all of the images that are marked up to lazy load
    const images = document.querySelectorAll('.js-lazy-image');
    const config = {
        // If the image gets within 50px in the Y axis, start the download.
        rootMargin: '100px 0px',
        threshold: 0.01
    };

    function onIntersection(entries) {
        // Loop through the entries
        entries.forEach(entry => {
        // Are we in viewport?
        if (entry.intersectionRatio > 0) {

        // Stop watching and load the image
        observer.unobserve(entry.target);
        preloadImage(entry.target);
        }
    });
    }


    window.onscroll = function () { 
        "use strict";

        if (document.body.scrollTop >= heightOfNav + 20 || document.documentElement.scrollTop >= heightOfNav + 20 ) {
            myNav.classList.add("bg-dark");
        } 
        else {
            myNav.classList.remove("bg-dark");
        }
    };


    // If we don't have support for intersection observer, load the images immediately
    if (!('IntersectionObserver' in window)) {
        Array.from(images).forEach(image => preloadImage(image));
    } else {
        // It is supported, load the images
        observer = new IntersectionObserver(onIntersection, config);
        images.forEach(image => {
        
        observer.observe(image);
    });
    }
</script>

</body>

</html>