<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Food truck delivery service for incredible burgers, and even better experiences.">
    <meta name="author" content="M&G Design, LLC.">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Raleway:wght@400;600&family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Bitez | Welcome</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">

  <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">   
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png">

</head>

<body>

<div id="app">
<!-- ******************** HEADER / NAV ******************** -->
<header id="hero">
    <a class="navbar-brand" href="index.html">
        <img id="nav-logo" src="./static/images/BitezLogo.svg">
    </a>

    <nav class="navbar fixed-top navbar-expand-lg fixed-top" id="nav">
        <div>
            <!-- Mobile Hamburger Icon -->
            <div @click="sideMenu = true" class="hamburger-menu d-block d-lg-none">
                <img src="./static/images/hamburger-menu.png" alt="hamburger cartoon icon">
            </div>
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#find-us">Find Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <transition name="slide">
        <div class="mobile-nav" v-if="sideMenu==true" v-cloak>
            <img id="exit-button" @click="sideMenu=false" src="https://img.icons8.com/color/48/000000/close-window.png" alt="Exit navigation accordion button">
            <div class="navigation-links">
                <a href="#home" @click="sideMenu=false">Home</a>
                <a href="#about" @click="sideMenu=false">About</a>
                <a href="#menu" @click="sideMenu=false">Menu</a>
                <a href="#find-us" @click="sideMenu=false">Find Us</a>   
            </div>
            <div class="col-10 m-auto navigation-social-media">
                <a href="https://www.instagram.com/bitez.burger/" target="_blank" aria="links to Bitez Burger's Instagram"><img src="static/images/instagram-icon.png"></a>
                <a href="https://www.twitter.com/Bitezburger2020/" target="_blank" aria="links to Bitez Burger's Twitter"><img src="static/images/twitter-icon.png"></a>
                <a href="https://www.facebook.com/Bitez-Burger-100756265056774/" target="_blank" aria="links to Bitez Burger's Facebook"><img src="static/images/facebook-icon.png"></a>
            </div>
        </div>
    </transition>

    <div class="hero-caption">
        <img src="./static/images/Grab a Bitez.PNG"><br>
        <img src="./static/images/Bitez.PNG">
    </div>
</header>

<!-- ************************ ABOUT *********************** -->
<section id="about">
    <div class="aboutContent col-10 col-md-8 col-lg-6">
        <p>
            <span class="aboutContentLarge">A</span>t Bitez, our <span class="attract">mission</span> is to Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna <span class="attract">takimata</span> erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea <span class="attract">takimata</span> sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </p>
    </div>
</section>

<!-- ************************ MENU ************************ -->
<section id="blackboard">
    <div id="menu" class="body-content">
        <h2>Menu</h2>

        <!--Hamburgers-->
        <div class="hamburgers">
            <div class="food-description">
                <img src="./static/images/hamburger-icon.png" alt="hamburger cartoon icon" width="35">
                <h3>Hamburgers</h3>
                <p>
                    Our deliciously juicy burgers come any way you want! Pick your add-ons and we'll handle the rest. 
                </p>
            </div>
            <div class="menu-items">
                <div class="container">
                    <div class="row menu-row">
                        <h4 class="col-8 col-md-10">Bitez</h4>
                        <p class="col-4 col-md-2">$4.99</p>
                    </div>
                    <hr class="dotted">
                    <p>
                        Single or Double Hamburger with your choice of lettuce, tomato, pickle, or onion.
                    </p>
                </div>
                <div class="container">
                    <div class="row menu-row">
                        <h4 class="col-8 col-md-10">Cheesy Bitez</h4>
                        <p class="col-4 col-md-2">$4.99</p>
                    </div>
                    <hr class="dotted">
                    <p>
                        Single or Double Cheeseburger with your choice of lettuce, tomato, pickle, or onion.
                    </p>
                </div>
            </div>
        </div>

        <!--French Fires-->
        <div class="french-fries">
            <div class="food-description">
                <img src="./static/images/french-fries-icon.png" alt="french fry cartoon icon" width="30">
                <h3>French Fries</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et. 
                </p>
            </div>
            <div class="menu-items">
                <div class="container">
                    <div class="row menu-row">
                        <h4 class="col-8 col-md-10">French Fries</h4>
                        <p class="col-4 col-md-2">$4.99</p>
                    </div>
                    <hr class="dotted">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et. 
                    </p>
                </div>
                <div class="container">
                    <div class="row menu-row">
                        <h4 class="col-8 col-md-10">Seasoned French Fries</h4>
                        <p class="col-4 col-md-2">$4.99</p>
                    </div>
                    <hr class="dotted">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ********************* LOCATIONS ********************** -->
<section id="find-us">
    <div class="body-content">
        <h2>Upcoming Locations</h2>
        <div class="vroom">
            <img src="./static/images/dust-icon.png">
            <img src="./static/images/food-truck-icon.png">
        </div>
        <div class="container">
            <!-- ROW 1 -->
            <div class="row">
                <div v-for="location in locations" class="location col-10 col-md-6">
                    <div class="location-title">
                        <img class="location-marker" src="./static/images/location-marker.png" alt="location marker">
                        <h3>
                            {{ location.city }}
                        </h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="col-6" style="text-align: right;">
                                <b>When</b><br>
                                <b>Location</b><br>
                                <b>Hours</b>
                            </p>
                            <p class="col-6">
                                {{ location.when }}<br>
                                {{ location.address }}<br>
                                {{ location.hours }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button stay-informed-cta">
            <p>Don't see a city near you?</p>
            <a href="#sign-up">LEARN MORE</a>
        </div>
    </div>
</section>

<!-- ********************** SIGN UP *********************** -->
<section id="sign-up">
    <div class="body-content container">
        <div>
            <h2>Stay Informed</h2>
            <p>We'll notify you when Bitez is coming to your area.</p>
        </div>
        <div class="row">
            <div class="col-10 col-md-6">
                <img class="stay-informed-img m-auto" src="static/images/stay-informed.jpg">
            </div>

            <div class="col-10 col-md-6 m-auto">
                <form>
                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName">

                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName">

                    <label for="inputZipCode">Zip Code</label>
                    <input type="text" class="form-control" id="inputZipCode">

                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">By checking this box and clicking “Submit” I agree to receive awesome news about when Bitez is coming to my area.</label>
                </div>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- *********************** FOOTER *********************** -->

<footer id="footer">
    <div class="footer-icon">
        <img src="./static/images/BitezLogo.svg">
    </div>
    <div class="container">
        <div class="row footer-info">
            <div class="col-12 col-md-6">
                <h3>CONTACT US</h3>
                <div class="footer-phone">
                    <div>
                        <img src="./static/images/email-icon.png" alt="an envelope icon" width="20px;">
                    </div>
                    <a class="text-reset" href="mailto:bitezburger@yahoo.com">bitezburger@yahoo.com</a>
                </div>
            </div>
            <div class="col-12 col-md-6 footer-social">
                <h3>FOLLOW US</h3>
                <a href="https://www.instagram.com/bitez.burger/" target="_blank" aria="links to Bitez Burger's Instagram"><img src="static/images/instagram-icon.png"></a>
                <a href="https://www.twitter.com/Bitezburger2020/" target="_blank" aria="links to Bitez Burger's Twitter"><img src="static/images/twitter-icon.png"></a>
                <a href="https://www.facebook.com/Bitez-Burger-100756265056774/" target="_blank" aria="links to Bitez Burger's Facebook"><img src="static/images/facebook-icon.png"></a>
            </div>
        </div>
    </div>
    <p class="copyright-info">Copyright &copy;2020 Bitez. All rights reserved.</p>
</footer>

</div>

<!-- Vue Insert -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
    el: '#app',
    data: {
        locations: [
            {'city': 'ARCADIA, CA', 'when': 'April 3, 2020', 'address': '2323 Lake Ave.', 'hours': '3-5pm'},
            {'city': 'MONROVIA, CA', 'when': 'April 3, 2020', 'address': '2323 Lake Ave.', 'hours': '3-5pm'},
            {'city': 'PASADENA, CA', 'when': 'April 3, 2020', 'address': '2323 Lake Ave.', 'hours': '3-5pm'},
            {'city': 'EL MONTE, CA', 'when': 'April 3, 2020', 'address': '2323 Lake Ave.', 'hours': '3-5pm'},
        ],
        sideMenu: false,
    },
    methods: {
        loadLocations: function() {
            fetch('https://ruoyuchen.pythonanywhere.com/googlesheets', {
                method: 'GET',
                mode: 'cors'
            })
            .then(response => response.json())
            .then((data) => {
                console.log(data);
                this.locations = data.locations;
            });
        }
    },
    watch: {
        isModalVisible: function() {
            if(this.sideMenu) {
                document.documentElement.style.overflow = 'hidden';
                document.body.style.position = 'fixed';
            } else {
                document.documentElement.style.overflow = 'auto'
            }
        }
    },
    created: function() {
        var currentTime = new Date();
        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var weekday = days[currentTime.getDay()];
        console.log("The day is: " + weekday);
        console.log("The time is: " + currentTime.getHours() + " : " + currentTime.getMinutes());
        this.loadLocations();
    }
    })
</script>

<!-- Vanilla -->
<script>
    var myNav = document.getElementById('nav');
    var logo = document.getElementById('nav-logo');
    var heightOfNav = 85;
    window.onscroll = function () { 
        "use strict";
        if (document.body.scrollTop >= heightOfNav || document.documentElement.scrollTop >= heightOfNav ) {
            logo.classList.add('navbar-img-bg-scrolled');
        } 
        else {
            logo.classList.remove('navbar-img-bg-scrolled');
        }

        if (document.body.scrollTop >= heightOfNav + 20 || document.documentElement.scrollTop >= heightOfNav + 20 ) {
            myNav.classList.add("bg-dark");
        } 
        else {
            myNav.classList.remove("bg-dark");
        }
    };
</script>

</body>

</html>