/*
FONTS
    font-family: 'Courier Prime', monospace;
    font-family: 'Raleway', sans-serif;
    font-family: 'Shadows Into Light', cursive;

COLORS
    #343434 - dark gray - raincloud
    #FCFAF9 - white - whitemocha
    #BD0F1E - red - reddish
    #FFEBC2 - yellow - peachy
    #F9F4EF - tan - tan

Z-Index
    Fixed-Top - 10
    Hero::after - 0

/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--tan);
}

/* Prevent horizontal scrolling */
#galleryApp {
    overflow-x: hidden;
}

/* Hide Side Menu until Vue is rendered */
[v-cloak] {
    display: none;
}

* {
    -ms-overflow-style: none;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --raincloud: #343434;
    --whitemocha: #FCFAF9;
    --reddish: #BD0F1E;
    --peachy: #FFEBC2;
    --tan: #F9F4EF;
    --boxShadow: 0 20px 25px -10px rgba(0,0,0,.1), 0 10px 10px -10px rgba(0,0,0,.04);
}

.body-content {
    width: 90%;
    margin: auto;
}

.body-content h2 {
    padding-top: 25px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Courier Prime', monospace;
    font-size: 2.8em;
    text-align: center;
    color: var(--raincloud);
}

a:link {
    text-decoration: none;
}

.container {
    padding: 0;
}

.button a {
    text-decoration: none;
    background-color: var(--reddish);
    color: var(--whitemocha);
    padding: 15px 25px 15px 25px;
    display: inline-block;
    border-radius: 9px;
    transition: all .6s ease;
}

.button a:hover {
    background-color: #F36874;
    transition: all .6s ease;
    padding: 15px 33px 15px 33px;
}

/* Nav Bar
------------------------------------*/
/* Navigation */
.fixed-top {
    z-index: 10;
}

.navbar {
    transition:background-color 200ms linear;
}

.hamburger-menu {
    width:100%;
    text-align: right;
}

.hamburger-menu img {
    cursor: pointer;
    margin: 0px;
    width: 40px;
}

/* Logo */
.navbar div:first-of-type {
    width: 95%;
    margin: auto;
}

.navbar-brand img {
    width: 250px;
    position: absolute;
    top: -20px;
    left: 0;
    transition: all .4s;
    z-index: 11;
}

.navbar-img-bg-scrolled {
    width: 75px !important;
    position: fixed !important;
    top: -8px !important;
    left: 20px !important;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* Navigation List */
.navbar {
    padding: 10px 0 !important;
}

.navbar-nav {
    margin: 5px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.nav-link {
    color: var(--whitemocha) !important;
    transition: all .3s;
    font-size: 1.1rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link:hover {
    color: var(--peachy) !important;
}

/* Mobile Navigation List */
.mobile-nav {
    background-color: var(--raincloud);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#exit-button {
    float: right;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 34px;
    letter-spacing: 2px;
    color: var(--whitemocha);
    transition: all .2s;
}

.mobile-nav a:hover {
    text-decoration: underline;
}

.navigation-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-social-media {
    text-align: center;
}

.navigation-social-media a {
    display: inline-block;
}

.navigation-social-media a:hover {
    transform: scale(1.1) rotate(-10deg);
    cursor: pointer;
}

/* Banner
------------------------------------*/
#banner {
    width: 100vw;
    height: 350px;
    border-radius: 0 0 25% 25% / 5%;
    overflow: hidden;
    position: relative;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 20%, rgba(0, 0, 0, 0.05) 70%);
    z-index: 0;
}

#banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Gallery
------------------------------------*/
#gallery-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    row-gap:20px;
    column-gap:20px;
    padding: 100px 0;
    justify-content: center;
}

.gallery-item {
    background-color: rgba(31, 146, 218, 0.571);
    cursor: pointer;
}

.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-cta {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    width: 200px;
    margin: 45px auto auto auto;
    padding: 15px 0;
    color: var(--whitemocha);
    transition: all .6s ease;
    border: 2px solid var(--whitemocha);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
}





/* Gallery Modal */
#gallery-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    z-index: 12;
}
#gallery-modal img {
    object-fit: cover;
    width: 100%;
    animation: .5s fadeImage;
}
#gallery-backdrop {
    position: fixed;
    z-index: 11;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
}

.gallery-close {
    position: fixed; 
    top: 10px;
    right: 20px;
    z-index: 12;
    padding: 5px 15px;
    color: #ccc;
    background: transparent;
    border: none;
    font-size: 26px;
}

.gallery-close:focus {
    outline: none;
}

#prevButton {
    margin-left: -50px;
}

#nextButton {
    float: right;
    margin-right: -50px;
}

/* Override Lightbox styles */
.gallery-close::before {
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "x";
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.vlb-figure {
    margin: 0;
}

.vlb-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.vlb-caption-title {
    background-color:rgba(0, 0, 0, 0.45);
    padding: 10px 15px;
    color: #fff;
    font-size: 1.2rem;
}
.vlb-caption-count {
    position: absolute;
    color: #fff;
    bottom: 10px;
    right: 10px;
}

.vlb-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
}
/* End Override Lightbox styles */

/* Footer
------------------------------------*/

#footer {
    background-color: var(--raincloud);
    color: var(--whitemocha);
    padding-top: 20px;
    border-radius: 25% 25% 0 0 / 10%;
    margin-top: -35px;
}

.footer-icon {
    text-align: center;
}

.footer-icon img {
    width: 230px;
}

.footer-info {
    margin: auto;
    text-align: center;
}

.footer-info img, .footer-info p {
    display: inline;
}

.footer-phone {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    text-align: left;
    margin: auto;
}

.footer-phone div {
    text-align: right;
    padding-right: 20px;
}

.footer-social img {
    padding-right: 15px;
    width: 50px;
    transition: all .4s ease;
}

.footer-social img:hover {
    transform: scale(1.1) rotate(-10deg);
    cursor: pointer;
}

.copyright-info {
    margin: 30px 0 0 0;
    text-align: center;
    padding-bottom: 30px;
}


/* Transitions
------------------------------------*/

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@keyframes fadeImage {
    0% {
        opacity: 0;
        transform: translateX(3px);
    }
    100% { 
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Media Queries 
------------------------------------*/

@media (min-width: 992px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
    #gallery-grid {
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width: 551px) {
    #gallery-grid {
        grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }
}

@media screen and (max-width: 351px) {
    #gallery-grid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 125px;
    }
}