/*
FONTS
    font-family: 'Courier Prime', monospace;
    font-family: 'Raleway', sans-serif;
    font-family: 'Shadows Into Light', cursive;

COLORS
    #343434 - dark gray - raincloud
    #FCFAF9 - white - whitemocha
    #BD0F1E - red - reddish
    #FFEBC2 - yellow - peachy

/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Hide Side Menu until Vue is rendered */
[v-cloak] {
    display: none;
}

*, *:before, *:after {
    box-sizing: inherit; /*doesn't let padding or margin change size*/
}

* {
    -ms-overflow-style: none;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --raincloud: #343434;
    --whitemocha: #FCFAF9;
    --reddish: #BD0F1E;
    --peachy: #FFEBC2;
}

.body-content {
    width: 90%;
    margin: auto;
}

.body-content h2 {
    padding-top: 25px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Courier Prime', monospace;
    font-size: 2.8em;
    text-align: center;
    color: var(--raincloud);
}

.dotted {
    border-top: 2px dotted #bbb;
    margin: 0 0 5px 0;
}

.container {
    padding: 0;
}

.button a {
    text-decoration: none;
    background-color: var(--reddish);
    color: var(--whitemocha);
    padding: 15px 25px 15px 25px;
    display: inline-block;
    border-radius: 9px;
    transition: all .6s ease;
}

.button a:hover {
    background-color: #F36874;
    transition: all .6s ease;
    padding: 15px 33px 15px 33px;
}

/* Nav Bar
------------------------------------*/
/* Navigation */
.fixed-top {
    z-index: 10;
}

.navbar {
    transition:background-color 200ms linear;
}

.hamburger-menu {
    width:100%;
    text-align: right;
}

.hamburger-menu img {
    cursor: pointer;
}

/* Logo */
.navbar div:first-of-type {
    width: 95%;
    margin: auto;
}

.navbar-brand img {
    width: 280px;
    position: absolute;
    top: -20px;
    left: 0;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.navbar-img-bg-scrolled {
    width: 125px !important;
    position: fixed !important;
    top: -15px !important;
    z-index: 11 !important;
    left: 20px !important;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* Navigation List */
.navbar-nav {
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.nav-link {
    color: var(--whitemocha) !important;
}

/* Mobile Navigation List */
.mobile-nav {
    background-color: var(--raincloud);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#exit-button{
    float: right;
    margin: 20px 20px 0 0;
}

.mobile-nav a{
    display: block;
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--whitemocha);
}

.mobile-nav a:first-of-type {
    margin-top: 35%;
}

.mobile-nav a:last-of-type {
    margin-top: 50px;
}

/* Hero
------------------------------------*/
#hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, .45)), url('./images/burgerHero.svg') no-repeat;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.hero-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
    color: var(--whitemocha);
    text-align: center;
}

.hero-caption img {
    width: 450px;
}

.hero-caption h1 {
    font-size: 80px;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 10px;
}

/* About
------------------------------------*/
#about {
    background: url('./images/about-background-img@2x.jpg') repeat;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 350px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.aboutContent {
    position: absolute;
    color: var(--whitemocha);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 2px solid;
    padding: 7% 6%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.5em;
    background: var(--reddish);
}

.aboutContentLarge {
    /* font-size:5rem; */
}

.attract {
    font-size: 1.4rem;
    font-weight: bolder;
}

/* Menu 
------------------------------------*/
#blackboard {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--whitemocha);
    padding: 5%;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
    background-color: #333;
}

#blackboard:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
    border: #2c2c2c solid 2px;
    font-size: 2.2em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
}

.hamburgers {
    margin-bottom: 50px;
}

.food-description {
    width: 95%;
    font-size: 16px;
    margin-bottom: 25px;
}

.food-description h3 {
    font-size: 1.8em;
}

.food-description p {
    font-size: 1.1em;
}

.menu-items {
    width: 88%;
    margin-left: 5%;
    font-size: 16px;
}

.menu-items h4 {
    font-size: 1.5em;
}

.menu-items p {
    font-size: 1.2em;
}

.menu-items .container:first-of-type {
    margin-bottom: 30px;
}

#menu h2, #menu h3, #menu h4, #menu p{
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

#menu img, #menu h3 {
    display: inline;
}

#menu h2 {
    color: var(--whitemocha);
    margin-bottom: 25px;
}

#menu img {
    margin-right: 10px;
    padding-bottom: 10px;
}

.menu-row p {
    text-align: right;
}

/* Upcoming Locations 
------------------------------------*/
#find-us {
    background-color: var(--peachy);
}

#find-us h2 {
    margin-bottom: -20px;
    padding-top: 60px;
}

#find-us h3 {
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.vroom {
    text-align: center;
    margin-top: 45px;
}

.location {
    margin: 50px auto auto auto;
}

.stay-informed-cta {
    text-align: center;
    padding: 20px 0 30px 0;
}

/* Sign Up
------------------------------------*/

#sign-up {
    padding-bottom: 100px;
    background-color: #ffffff;
}

#sign-up p {
    text-align: center;
    margin-bottom: 45px;
}

.stay-informed-img {
    padding-right: 50px;
    width: 500px;
}

.form-control {
    border: 1px solid var(--reddish);
}

.form-control:focus {
    border-color: var(--raincloud);
}

.btn-primary {
    text-decoration: none;
    background-color: var(--reddish);
    color: var(--whitemocha);
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border-radius: 9px;
    transition: all .6s ease;
    border-color: var(--reddish);
}

.btn-primary:hover {
    background-color: #F36874;
    border-color: #F36874;
}

label {
    font-family: 'Raleway', sans-serif;
}

/* Footer
------------------------------------*/

#footer {
    background-color: var(--raincloud);
    color: var(--whitemocha);
}

.footer-icon {
    text-align: center;
}

.footer-icon img {
    width: 230px;
}

.footer-info {
    margin: auto;
    text-align: center;
}

.footer-info img, .footer-info p {
    display: inline;
}

.footer-phone {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 60%;
    text-align: left;
    margin: auto;
}

.footer-phone div {
    text-align: right;
    padding-right: 20px;
}

.footer-social img {
    padding-right: 15px;
    width: 50px;
    transition: all .4s ease;
}

.footer-social img:hover {
    transform: scale(1.1) rotate(-10deg);
    cursor: pointer;
}

.copyright-info {
    margin: 30px 0 0 0;
    text-align: center;
    padding-bottom: 30px;
}


/* Transitions
------------------------------------*/
.slide-enter-active, .slide-leave-active {
    transition: slide .5s;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.menu-active {
    animation: slide 0.3s ease-in-out;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
  }


/* Media Queries 
------------------------------------*/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .stay-informed-img {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .hero-caption img {
        width: 250px;
    }
}

@media screen and (max-width: 551px) {
    .stay-informed-img {
        width: 275px;
        padding-right: 0px;
    }
    #sign-up .row div:first-of-type, .form {
        margin: auto;
    }
  }

  @media screen and (max-width: 500px) {
    .aboutContent {
        background: var(--reddish);
    }
    .navbar-brand img {
        width: 235px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-img-bg-scrolled {
        width: 100px !important;
        left: 0px !important;
        transform: unset !important;
    }
    .navbar div:first-of-type {
        width: 95%;
    }
    .hamburger-menu img {
        padding: 10px 0;
    }
    .location {
        margin: 25px auto auto auto;
    }
    .footer-social {
        padding-top: 30px;
    }
    .copyright-info {
        font-size: 12px;
    }
  }